# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
/dist/*

/pnpm-lock.yaml
/yarn-error.log
/npminstall-debug.log
/dist/main.css

/src/components/txt/*.svelte.txt
/dist/code/*
/test/pnpm-lock.yaml

/build-v1.sh
/test/epub/test-files/*
